

data/ #data files
logs/ #log files
*.pyc #pycache files
**/*.pyc
*.nc
*.project #Eclipse project file
*.pydevproject #Eclipse pydev project file
.project
.DS_Store

# ignore pycache bytecode
GPSwaves/__pycache__/ 
__pycache__/

.DS_Store
