

data/ #data files
logs/ #log files
*.pyc #pycache files
**/*.pyc

*.project #Eclipse project file
*.pydevproject #Eclipse pydev project file
.project
.DS_Store

# ignore pycache bytecode
GPSwaves/__pycache__/ 
__pycache__/
GPIOEmulator/
microSWIFT022_GPS_12Jul2021_202000UTC.dat

# Raspberry pi emulator module files
EmulatorGUI.py
PIN.py
tester2.py
TypeChecker.py